{% extends 'base.html' %}
{% load static %}

{% block content %}

     
      
<div class="Blog-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="Blogheading">
               <h3>My Blog </h3>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="heading">
               <h3 class="orange_color">{{user_object.username}}'s<span style="color: black;"> Articles</span></h3>
            </div>
         </div>
      </div>


      {% for i in posted_articles reversed %}


      <div class="row mt-5">
         <div class="col-md-6">
            <img src="{{i.picture.url}}" alt="#" />
         </div>
         <div class="col-md-6">
            <div class="full blog_cont">
               <h4>{{i.title }}</h4>
               <h5>{{i.date_posted}}</h5>
               <p>{{i.body | safe}}</p>
            </div>
         </div>
      </div>
      <div class="row margin_top_30">
         <div class="col-md-12">
            <div class="button_section full center margin_top_30">
               <a style="margin:0;" href="/singlepage/{{i.id}}">Read More</a>
            </div>
         </div>
      </div>

      {% endfor %}

   </div>
</div>

<!-- section -->
      <section class="layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                     <h4 style="border-bottom: solid #333 1px;">Comments / 2</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="full comment_blog_line">
                     <div class="row">
                        <div class="col-md-1">
                           <img src="{% static 'images/blog1.png' %}" alt="#" />
                        </div>
                        <div class="col-md-9">
                           <div class="full contact_text">
                              <h3>Veniam</h3>
                              <h4>Posted on Jan 10 / 2017 at 06:53 am</h4>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet 
                                 dolore magna aliquam erat volutpat.
                              </p>
                           </div>
                        </div>
                        <div class="col-md-2">
                           <a class="reply_bt" href="#">Reply</a>
                        </div>
                     </div>
                  </div>
  
               </div>
            </div>
            <div class="row margin_top_30">
               <div class="col-md-12 margin_top_30">
                  <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                     <h4>Post : Your Comment</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="full comment_form">
                     <form action="index.html">
                        <fieldset>
                           <div class="col-md-12">
                              <div class="row">
                                 <div class="col-md-6">
                                    <input type="text" name="name" placeholder="Name" required="#" />
                                    <input type="email" name="email" placeholder="Email" required="#" />
                                 </div>
                                 <div class="col-md-6">
                                    <textarea placeholder="Comment"></textarea>
                                 </div>
                              </div>
                              <div class="row margin_top_30">
                                 <div class="col-md-12">
                                    <div class="center">
                                       <button>Send</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      
     
      {% endblock content %}
