{% extends 'base.html' %}
{% load static %}

{% block content %}

     
      
<div class="Blog-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="Blogheading">
               <h3>My Blog </h3>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="heading">
               <h3 class="orange_color">{{user_object.username}}'s<span style="color: black;"> Articles</span></h3>
            </div>
         </div>
      </div>


      {% for i in posted_articles reversed %}


      <div class="row mt-5">
         <div class="col-md-6">
            <img id="postImage" src="{{i.picture.url}}" alt="#" />
         </div>
         <div class="col-md-6">
            <div class="full blog_cont">
               <h4>{{i.title }}</h4>
               <h5>{{i.date_posted}}</h5>
               <p>{{i.body | safe}}</p>
            </div>
         </div>
      </div>
      <div class="row margin_top_30">
         <div class="col-md-12">
            <div class="button_section full center margin_top_30">
               <a style="margin:0;" href="/singlepage/{{i.id}}">Read More</a>
            </div>
         </div>
      </div>

      {% endfor %}

   </div>
</div>


      
     
      {% endblock content %}
