{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Site CSS -->
<link rel="stylesheet" href="st.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="custom.css">

<div class="single_page">
    <div class="container cont">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{% static 'images/blog_1.png' %}" alt="">
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Title</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    top text
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    main text
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
